<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="overflow: auto">
<head>
    <meta charset="UTF-8">
    <title>Банк</title>
</head>
<body>
    <ul style="display: flex; list-style: none">
        <li style="margin-left: 10px">
            <a href="/banks">Банки</a>
        </li>
        <li style="margin-left: 10px">
            <a href="/workers">Работники</a>
        </li>
        <li style="margin-left: 10px">
            <a href="/clients">Клиенты</a>
        </li>
        <li style="margin-left: 10px">
            <a href="/accounts">Счета</a>
        </li>
    </ul>
</body>
</html>